#app, .screen-h{
	min-height: 100vh;
}

#cb-app-menu:checked + div{
	width: 50px;
}

#cb-app-menu:checked + div label{
	display: none;
}

#app-menu{
	width: 250px;
	transition: width .4s;
}

.root-item{
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding: 1px;
}

.child-item{
	padding-left: 20px;
}

.menu-item > .item-info:hover, .active > .item-info{
	color: black;
	background: red;
}

.menu-item > .item-info{
	cursor: pointer;
	padding: 6px;
	flex: 1;
	display: block;
}